<div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>





































<!--
<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let car of cars">
&lt;!&ndash;
        <img mat-list-avatar src="{{car.photo}}" alt="{{car.name}}">
&ndash;&gt;

        <td>{{car.id}}</td><br>
        <td>{{car.name}}</td><br>
        <td>{{car.photo}}</td>


&lt;!&ndash;        <h3 mat-line>
          <a mat-button [routerLink]="['/car-edit', car.id]">{{car.name}}</a>
        </h3>&ndash;&gt;
      </mat-list-item>
    </mat-list>
  </mat-card-content>

&lt;!&ndash;  <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>&ndash;&gt;
</mat-card>
-->
